* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body {
    background-color: #fffdfa;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

a {
    color: #F0CF00;
}

.divider {
    margin-bottom: 30px;
}

.content {
    margin-bottom: 30px;
}

.content > h2 {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.progressbar {
    background-color: grey;
    border-radius: 10px;
    height: 7px;
    padding: 0px;
    display: flex;
}
  
#progressbar-1 > div {
    background-color: black;
    width: 20%;
    height: 7px;
    border-radius: 10px;
}

#progressbar-2 > div {
    background-color: black;
    width: 35%;
    height: 7px;
    border-radius: 10px;
}

#progressbar-3 > div {
    background-color: black;
    width: 30%;
    height: 7px;
    border-radius: 10px;
}

#main-container {
    padding: 10% 7%;
    display: flex;
    flex-direction: column;
}

#introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#introduction img {
    max-width: 50%;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 7px solid #F0CF00;
}

#name {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.35rem;
    text-transform: uppercase;
    align-items: center;
    padding: 12px 25px;
    position: relative;
    margin-bottom: 30px;
}

#specialty {
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background-color: #fffdfa;
    padding: 0px 30px;
    top: 45px;
    position: absolute;
    z-index: 2;
}

#contacts {
    display: flex;
    flex-direction: column;
}

.contacts-icons {
    display: flex;
    margin-bottom: 15px;
}

.contacts-icons p {
    margin-left: 20px;
}

.contacts-icons div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.contacts-icons > div > p:first-child {
    font-weight: 700;
}

#img-container {
    width: 50px;
}

#img-container img {
    max-width: 100%;
}
